.attribution { font-size: 11px; text-align: center; margin-top: 2.5rem; }
.attribution a { color: hsl(228, 45%, 44%); }

html {
  background-color: var(--mainbg);
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --mainbg: hsl(233, 47%, 7%);
  --cardbg: hsl(244, 38%, 16%);
  --violet: hsl(277, 64%, 61%);
  --white1: hsl(0, 0%, 100%);
  --white2: hsla(0, 0%, 100%, 0.75);
  --white3: hsla(0, 0%, 100%, 0.6);
}

h1,span {
  font-family: 'Inter', sans-serif;
  color: var(--white1);
  font-size: 3.7rem;
  font-weight: 700;
}

body,p {
  font-size: 1.5rem;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--white2);
  font-weight: 400;
}

/* CARD LAYOUT */

.card-container {
  display:flex;
  align-items: center;
  justify-content: center;
  margin:0 2rem;
}

.card {
  display:flex;
  justify-content: center;
  height: 100%;
  margin-top:10rem;
  border-radius: 1rem;
  max-width: 100rem;
}

/* CARD__LEFT */

.card__left {
  flex:1;
  background-color: var(--cardbg);
}

.insights {
  color: var(--violet);
}

#text {
  line-height: 2.4rem;
  margin:2.5rem 5rem 5.5rem 5rem;
}

#title {
  margin-top:6.5rem;
}

.card__left > * {
  margin: 0 5rem;
}

.stats-container {
  display:flex;
  width:100%;
  padding-right:4rem;
}

.stats {
  display:flex;
  flex-direction: column;
  margin-bottom:6rem;
  flex:1;
}

.stats__number {
  color: var(--white1);
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.stats__name {
  color: var(--white3);
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  margin-top: .5rem;
  letter-spacing: .1rem;
}


/* CARD__RIGHT */

.card__right {
  flex:1;
  position: relative;
}

.card__right img {
  width:100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(1.2);
  z-index:10;
  position: relative;
}

.violet-shadow {
  width: 100%;
  height: 100%;
  background-color: hsla(277, 100%, 50%, 0.45);
  position: absolute;
  top:0;
  left:0;
  z-index:11;
}

/* RESPONSIVE */

@media screen and (max-width: 760px) {

  .card {
    flex-direction: column;
  }

  .card__left {
    order:1;
    text-align: center;
  }

  .title,
  .insights {
    font-size: 3rem;
  }

  #text {
    margin:2.5rem 3rem 5.5rem 3rem;
  }

  .card__right img {
    object-fit: contain;
  }

  .stats-container {
    display:block;
    width: auto;
    padding:0;
  }

  .stats {
    display:block;
    margin-bottom:3rem;
  }

  .stats__number {
    font-size: 2.2rem;
  }

  .card__left > * {
    margin: 0 2rem;
  }


}
